In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\hp\Downloads\Fake.csv")

In [3]:
df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df.shape

(23481, 4)

In [5]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [9]:
subjects = df.subject

In [11]:
subjects.head()

0    News
1    News
2    News
3    News
4    News
Name: subject, dtype: object

In [12]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(df["text"],subjects,test_size = 0.2,random_state = 20)

In [17]:
X_train.head()

10369    Republican Congressman David Brat wasn t sitti...
1943     While the House Intelligence Committee s inves...
12017    According to the New York Post:President Obama...
4938     Hillary Clinton appeared on Jimmy Kimmel Live ...
16520    It s easy to see why there are so many America...
Name: text, dtype: object

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier

In [22]:
vector = TfidfVectorizer(stop_words="english",max_df=0.7)

In [23]:
tf_train = vector.fit_transform(X_train)
tf_test = vector.transform(X_test)

In [24]:
pac = PassiveAggressiveClassifier(max_iter=50)
pac.fit(tf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix
y_pred = pac.predict(tf_test)

In [26]:
score = accuracy_score(y_test,y_pred)

In [27]:
print(f"Accuracy : {round(score*100,2)}%")

Accuracy : 52.48%